.header {
  font-size: 2rem;
  color: black;
  font-weight: 300;
  padding: 1.2rem 0;
  text-align: center;
}
.form-data {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 0 30rem;
}
input {
  outline: none;
}
.input-box {
  margin: 0.5rem 0;
  outline: none;
  height: 1.5rem;
  border: none;
  border-bottom: 2px solid black;
}
.submit-btn,
.back-btn {
  font-size: 1.4rem;
  height: 1.9rem;
  background: none;
  border: 1px solid coral;
}
.back-btn {
  width: 30rem;
  margin-left: 30rem;
  margin-top: 0.5rem;
  outline: none;
  border: 1px solid cyan;
}
.submit-btn:hover {
  background-color: coral;
  border: 1px solid coral;
  border-radius: 5px;
}
.back-btn:hover {
  background-color: cyan;
  /* border: 1px solid cyan; */
  border-radius: 5px;
}
