.all-bond,
.all-bond-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2rem;
  text-align: center;
  margin: 0.5rem 2rem;
  font-family: "Cormorant Garamond", serif;
}
.all-bond h1 {
  margin-top: 0.5rem;
}
.view-all-bond {
  background-color: transparent;
  color: white;
  border: 1px solid blue;
  border-radius: 1.2rem;
  outline: none;
  margin-right: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  transition: background-color 0.5s ease;
  padding: 0.5rem 1.2rem;
}
.view-all-bond:hover {
  background-color: blue;
  border: 1px solid blue;
}
.add-bond {
  font-size: 1.2rem;
  border: 1px solid blue;
  padding: 0.5rem 0.8rem;
  background-color: blue;
  color: white;
  border-radius: 1.2rem;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  outline: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.add-bond:hover {
  color: blue;
  background-color: transparent;
}
.table {
  align-items: center;
  margin: 0 1.5rem;
  margin-top: 0.5rem;
  font-family: "Quicksand", sans-serif;
}

.column-heading {
  height: 1.6rem;
  font-size: 1.4rem;
  padding: 0.4rem 2rem;
  border: 2.5px solid tomato;
  background-color: tomato;
  border-bottom: none;
  color: white;
  border-radius: 5px;
}

.column-items {
  border: 2px solid tomato;
  padding: 0.8rem 1.2rem;
}
.table-row {
  background-color: transparent;
  transition: background-color 0.8s ease;
}
.table-row:hover {
  background-color: tomato;
  color: white;
}

.loading {
  display: flex;
  flex-direction: row;
  margin-top: 10rem;
  margin-left: 18rem;
}
.loading-text {
  font-size: 5.5rem;
  font-weight: lighter;
  margin-top: 5rem;
  font-family: "Quicksand", sans-serif;
}
.loading-svg {
  background-color: transparent;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #000000;
  font-size: 0.4rem;
  margin-top: 7.5rem;
  margin-left: 1.2rem;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
